# Fun with Neural Nets

---

Below is a procedure for building a neural network to recognize handwritten digits.  The data is from Kaggle, and you will submit your results to Kaggle to test how well you did!

1. Load the training data (`train.csv`) from Kaggle
2. Setup X and y (feature matrix and target vector)
3. Split X and y into train and test subsets.
4. Preprocess your data

   - When dealing with image data, you need to normalize your `X` by dividing each value by the max value of a pixel (255).
   - Since this is a multiclass classification problem, keras needs `y` to be a one-hot encoded matrix
   
5. Create your network.

   - Remember that for multi-class classification you need a softamx activation function on the output layer.
   - You may want to consider using regularization or dropout to improve performance.
   
6. Trian your network.
7. If you are unhappy with your model performance, try to tighten up your model by adding hidden layers, adding hidden layer units, chaning the activation functions on the hidden layers, etc.
8. Load in Kaggle's `test.csv`
9. Create your predictions (these should be numbers in the range 0-9).
10. Save your predictions and submit them to Kaggle.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
# read in data
training_data = pd.read_csv('./train.csv')

In [3]:
training_data.head()
#targets
sorted(training_data.label.unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#target and features
y = training_data['label']
feats= [ col for col in training_data.columns if col != 'label' ]
X = training_data[feats]

In [5]:
X.shape
y.shape

(42000,)

In [6]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=55)

In [7]:
X_train.shape
y_train.shape
X_test.shape
y_test.shape

(10500,)

In [8]:
#normalizing hexadecimal
X_train /= 255

In [9]:
X_test /= 255

In [10]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Convolution2D, MaxPooling2D
from keras.utils import np_utils
from keras.callbacks import EarlyStopping

/Users/scottsanowitz/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

Couldn't import dot_parser, loading of dot files will not be possible.

In [11]:
#target matrix for nueral net
y_train = np_utils.to_categorical(y_train, 10)
y_test = np_utils.to_categorical(y_test, 10)

In [12]:
y_train.shape
y_test.shape

(10500, 10)

In [13]:
#model
model = Sequential()

In [14]:
# layers,
n_input = X_train.shape[1]
n_hidden = n_input
#hidden layer
model.add(Dense(n_input, activation='relu', input_dim=n_input))
# out put layer with softmax activation
model.add(Dense(10, activation='softmax'))

In [15]:
# compile
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['acc'])

In [16]:
#fit
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs =50, batch_size=2000)

Train on 31500 samples, validate on 10500 samples
Epoch 1/50
31500/31500 [==============================] - 3s 87us/step - loss: 1.0081 - acc: 0.7369 - val_loss: 0.4217 - val_acc: 0.8803
Epoch 2/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.3520 - acc: 0.8965 - val_loss: 0.3058 - val_acc: 0.9156
Epoch 3/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.2721 - acc: 0.9210 - val_loss: 0.2596 - val_acc: 0.9288
Epoch 4/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.2310 - acc: 0.9347 - val_loss: 0.2304 - val_acc: 0.9360
Epoch 5/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.2010 - acc: 0.9439 - val_loss: 0.2059 - val_acc: 0.9424
Epoch 6/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.1777 - acc: 0.9504 - val_loss: 0.1907 - val_acc: 0.9463
Epoch 7/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.1577 - acc: 0.9571 - val_loss: 0.1734 - val_acc: 0.9518
Epoch 8/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.1413 - acc: 0.9619 - val_loss: 0.1626 - val_acc: 0.9533
Epoch 9/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.1276 - acc: 0.9657 - val_loss: 0.1552 - val_acc: 0.9553
Epoch 10/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.1161 - acc: 0.9688 - val_loss: 0.1441 - val_acc: 0.9596
Epoch 11/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.1029 - acc: 0.9726 - val_loss: 0.1358 - val_acc: 0.9622
Epoch 12/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.0938 - acc: 0.9754 - val_loss: 0.1289 - val_acc: 0.9638
Epoch 13/50
31500/31500 [==============================] - 3s 87us/step - loss: 0.0859 - acc: 0.9777 - val_loss: 0.1246 - val_acc: 0.9643
Epoch 14/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.0776 - acc: 0.9802 - val_loss: 0.1210 - val_acc: 0.9661
Epoch 15/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.0715 - acc: 0.9821 - val_loss: 0.1164 - val_acc: 0.9665
Epoch 16/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.0658 - acc: 0.9831 - val_loss: 0.1141 - val_acc: 0.9677
Epoch 17/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.0605 - acc: 0.9856 - val_loss: 0.1098 - val_acc: 0.9700
Epoch 18/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.0559 - acc: 0.9864 - val_loss: 0.1087 - val_acc: 0.9690
Epoch 19/50
31500/31500 [==============================] - 3s 81us/step - loss: 0.0508 - acc: 0.9883 - val_loss: 0.1055 - val_acc: 0.9703
Epoch 20/50
31500/31500 [==============================] - 3s 82us/step - loss: 0.0462 - acc: 0.9894 - val_loss: 0.1041 - val_acc: 0.9704
Epoch 21/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0434 - acc: 0.9904 - val_loss: 0.1016 - val_acc: 0.9712
Epoch 22/50
31500/31500 [==============================] - 3s 92us/step - loss: 0.0390 - acc: 0.9918 - val_loss: 0.0998 - val_acc: 0.9729
Epoch 23/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0359 - acc: 0.9927 - val_loss: 0.0990 - val_acc: 0.9719
Epoch 24/50
31500/31500 [==============================] - 3s 96us/step - loss: 0.0336 - acc: 0.9936 - val_loss: 0.0985 - val_acc: 0.9726
Epoch 25/50
31500/31500 [==============================] - 3s 85us/step - loss: 0.0310 - acc: 0.9942 - val_loss: 0.0973 - val_acc: 0.9731
Epoch 26/50
31500/31500 [==============================] - 3s 87us/step - loss: 0.0285 - acc: 0.9951 - val_loss: 0.0960 - val_acc: 0.9729
Epoch 27/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0269 - acc: 0.9955 - val_loss: 0.0952 - val_acc: 0.9738
Epoch 28/50
31500/31500 [==============================] - 3s 87us/step - loss: 0.0253 - acc: 0.9962 - val_loss: 0.0942 - val_acc: 0.9734
Epoch 29/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0230 - acc: 0.9965 - val_loss: 0.0933 - val_acc: 0.9732
Epoch 30/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0219 - acc: 0.9966 - val_loss: 0.0951 - val_acc: 0.9734
Epoch 31/50
31500/31500 [==============================] - 3s 83us/step - loss: 0.0205 - acc: 0.9972 - val_loss: 0.0939 - val_acc: 0.9740
Epoch 32/50
31500/31500 [==============================] - 3s 85us/step - loss: 0.0186 - acc: 0.9977 - val_loss: 0.0929 - val_acc: 0.9744
Epoch 33/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0176 - acc: 0.9978 - val_loss: 0.0923 - val_acc: 0.9743
Epoch 34/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0162 - acc: 0.9983 - val_loss: 0.0916 - val_acc: 0.9738
Epoch 35/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0156 - acc: 0.9983 - val_loss: 0.0917 - val_acc: 0.9745
Epoch 36/50
31500/31500 [==============================] - 3s 86us/step - loss: 0.0143 - acc: 0.9987 - val_loss: 0.0920 - val_acc: 0.9739
Epoch 37/50
31500/31500 [==============================] - 3s 88us/step - loss: 0.0134 - acc: 0.9987 - val_loss: 0.0917 - val_acc: 0.9739
Epoch 38/50
31500/31500 [==============================] - 3s 93us/step - loss: 0.0126 - acc: 0.9991 - val_loss: 0.0920 - val_acc: 0.9747
Epoch 39/50
31500/31500 [==============================] - 3s 91us/step - loss: 0.0120 - acc: 0.9993 - val_loss: 0.0910 - val_acc: 0.9746
Epoch 40/50
31500/31500 [==============================] - 3s 92us/step - loss: 0.0111 - acc: 0.9992 - val_loss: 0.0914 - val_acc: 0.9749
Epoch 41/50
31500/31500 [==============================] - 3s 93us/step - loss: 0.0105 - acc: 0.9994 - val_loss: 0.0913 - val_acc: 0.9745
Epoch 42/50
31500/31500 [==============================] - 3s 94us/step - loss: 0.0100 - acc: 0.9994 - val_loss: 0.0906 - val_acc: 0.9748
Epoch 43/50
31500/31500 [==============================] - 3s 93us/step - loss: 0.0097 - acc: 0.9995 - val_loss: 0.0913 - val_acc: 0.9749
Epoch 44/50
31500/31500 [==============================] - 3s 92us/step - loss: 0.0091 - acc: 0.9997 - val_loss: 0.0918 - val_acc: 0.9749
Epoch 45/50
31500/31500 [==============================] - 3s 92us/step - loss: 0.0085 - acc: 0.9997 - val_loss: 0.0915 - val_acc: 0.9755
Epoch 46/50
31500/31500 [==============================] - 3s 92us/step - loss: 0.0079 - acc: 0.9997 - val_loss: 0.0918 - val_acc: 0.9752
Epoch 47/50
31500/31500 [==============================] - 3s 100us/step - loss: 0.0077 - acc: 0.9997 - val_loss: 0.0925 - val_acc: 0.9754
Epoch 48/50
31500/31500 [==============================] - 3s 90us/step - loss: 0.0073 - acc: 0.9998 - val_loss: 0.0925 - val_acc: 0.9749
Epoch 49/50
31500/31500 [==============================] - 3s 91us/step - loss: 0.0069 - acc: 0.9998 - val_loss: 0.0912 - val_acc: 0.9757
Epoch 50/50
31500/31500 [==============================] - 3s 95us/step - loss: 0.0065 - acc: 0.9999 - val_loss: 0.0912 - val_acc: 0.9759

In [17]:
#predict
y_hat= model.predict(X_test)

In [21]:
df =pd.DataFrame(y_hat)
df.index = df.index + 1

In [22]:
df['max'] = df.idxmax(axis=1)

In [23]:
#ready for kaggle
df[['max']].index.name = 'ImageId'
df[['max']].rename({'max': 'Label'},axis=1)

         Label
ImageId
1            9
2            2
3            1
4            1
5            9
6            4
7            8
8            7
9            7
10           1
11           6
12           2
13           4
14           1
15           8
16           5
17           3
18           8
19           3
20           3
21           2
22           4
23           0
24           0
25           4
26           4
27           3
28           8
29           2
30           8
...        ...
10471        7
10472        6
10473        1
10474        9
10475        8
10476        5
10477        9
10478        5
10479        9
10480        7
10481        9
10482        5
10483        8
10484        5
10485        0
10486        5
10487        7
10488        2
10489        0
10490        1
10491        6
10492        4
10493        6
10494        9
10495        4
10496        6
10497        2
10498        2
10499        9
10500        1

[10500 rows x 1 columns]

In [24]:
test = pd.read_csv('./test.csv')

In [25]:
test/=255

In [26]:
test.shape

(28000, 784)

In [27]:
y_hat = model.predict(test)

In [32]:
tested =pd.DataFrame(y_hat)
tested.index = tested.index +1

In [33]:
tested['max'] = tested.idxmax(axis=1)

In [34]:
tested['max']

1        2
2        0
3        9
4        9
5        3
6        7
7        0
8        3
9        0
10       3
11       5
12       7
13       4
14       0
15       4
16       3
17       3
18       1
19       9
20       0
21       9
22       1
23       1
24       5
25       7
26       4
27       2
28       7
29       4
30       7
        ..
27971    5
27972    0
27973    4
27974    8
27975    0
27976    3
27977    6
27978    0
27979    1
27980    9
27981    3
27982    1
27983    1
27984    0
27985    4
27986    5
27987    2
27988    2
27989    9
27990    6
27991    7
27992    6
27993    1
27994    9
27995    7
27996    9
27997    7
27998    3
27999    9
28000    2
Name: max, Length: 28000, dtype: int64

In [45]:
#submit to kaggle
tested[['max']].index.name = 'ImageId'
tested['ImageId'] = tested.index
tested
submit = tested[['ImageId','max']].rename({'max': 'Label'},axis=1)
submit

         ImageId  Label
ImageId
1              1      2
2              2      0
3              3      9
4              4      9
5              5      3
6              6      7
7              7      0
8              8      3
9              9      0
10            10      3
11            11      5
12            12      7
13            13      4
14            14      0
15            15      4
16            16      3
17            17      3
18            18      1
19            19      9
20            20      0
21            21      9
22            22      1
23            23      1
24            24      5
25            25      7
26            26      4
27            27      2
28            28      7
29            29      4
30            30      7
...          ...    ...
27971      27971      5
27972      27972      0
27973      27973      4
27974      27974      8
27975      27975      0
27976      27976      3
27977      27977      6
27978      27978      0
27979      27979      1
27980      27980      9
27981      27981      3
27982      27982      1
27983      27983      1
27984      27984      0
27985      27985      4
27986      27986      5
27987      27987      2
27988      27988      2
27989      27989      9
27990      27990      6
27991      27991      7
27992      27992      6
27993      27993      1
27994      27994      9
27995      27995      7
27996      27996      9
27997      27997      7
27998      27998      3
27999      27999      9
28000      28000      2

[28000 rows x 2 columns]

In [46]:
submit.to_csv('./submit.csv',index=False)

# CNN
Convolutional Neural Net

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=124)

In [86]:
X_train = X_train.values.reshape(X_train.shape[0], 28,28,1)
X_test = X_test.values.reshape(X_test.shape[0], 28, 28, 1)

In [87]:
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')

In [88]:
X_train /= 255
X_test /= 255

In [89]:
y_train = np_utils.to_categorical(y_train, 10)
y_test = np_utils.to_categorical(y_test, 10)

In [213]:
model = Sequential()

In [214]:
#convolution layers
model.add(Convolution2D(filters =16,
                       kernel_size = 3,
                       activation ='relu',
                       input_shape = (28,28,1)))
#pooling layer
model.add(MaxPooling2D(pool_size=(2,2)))
#convolution layer
model.add(Convolution2D(filters =20,
                       kernel_size = 3,
                       activation ='relu'
                       ))
#pooling layer
model.add(MaxPooling2D(pool_size=(2,2)))
#flatten layer
model.add(Flatten())
#dense layers
model.add(Dense(150, activation='relu'))
#output layer
model.add(Dense(10, activation='softmax'))

In [215]:
#compile
model.compile(loss ='categorical_crossentropy', optimizer='adam', metrics=['acc'] )
early_stop = EarlyStopping(monitor='val_loss', min_delta=0)

In [216]:
#fit
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs =50, batch_size=2000, callbacks=[early_stop])

Train on 31500 samples, validate on 10500 samples
Epoch 1/50
31500/31500 [==============================] - 11s 338us/step - loss: 1.9931 - acc: 0.4954 - val_loss: 1.4562 - val_acc: 0.7004
Epoch 2/50
31500/31500 [==============================] - 10s 315us/step - loss: 0.9485 - acc: 0.7736 - val_loss: 0.5732 - val_acc: 0.8293
Epoch 3/50
31500/31500 [==============================] - 10s 315us/step - loss: 0.4474 - acc: 0.8661 - val_loss: 0.3702 - val_acc: 0.8866
Epoch 4/50
31500/31500 [==============================] - 10s 315us/step - loss: 0.3208 - acc: 0.9034 - val_loss: 0.2830 - val_acc: 0.9159
Epoch 5/50
31500/31500 [==============================] - 10s 322us/step - loss: 0.2548 - acc: 0.9236 - val_loss: 0.2337 - val_acc: 0.9301
Epoch 6/50
31500/31500 [==============================] - 10s 319us/step - loss: 0.2136 - acc: 0.9372 - val_loss: 0.1992 - val_acc: 0.9392
Epoch 7/50
31500/31500 [==============================] - 10s 320us/step - loss: 0.1804 - acc: 0.9471 - val_loss: 0.1701 - val_acc: 0.9505
Epoch 8/50
31500/31500 [==============================] - 10s 320us/step - loss: 0.1536 - acc: 0.9552 - val_loss: 0.1472 - val_acc: 0.9570
Epoch 9/50
31500/31500 [==============================] - 10s 321us/step - loss: 0.1328 - acc: 0.9612 - val_loss: 0.1306 - val_acc: 0.9612
Epoch 10/50
31500/31500 [==============================] - 10s 321us/step - loss: 0.1166 - acc: 0.9653 - val_loss: 0.1163 - val_acc: 0.9661
Epoch 11/50
31500/31500 [==============================] - 11s 353us/step - loss: 0.1045 - acc: 0.9693 - val_loss: 0.1073 - val_acc: 0.9679
Epoch 12/50
31500/31500 [==============================] - 10s 321us/step - loss: 0.0955 - acc: 0.9718 - val_loss: 0.1015 - val_acc: 0.9700
Epoch 13/50
31500/31500 [==============================] - 10s 320us/step - loss: 0.0894 - acc: 0.9730 - val_loss: 0.0955 - val_acc: 0.9716
Epoch 14/50
31500/31500 [==============================] - 10s 321us/step - loss: 0.0814 - acc: 0.9753 - val_loss: 0.0871 - val_acc: 0.9730
Epoch 15/50
31500/31500 [==============================] - 10s 322us/step - loss: 0.0751 - acc: 0.9776 - val_loss: 0.0808 - val_acc: 0.9743
Epoch 16/50
31500/31500 [==============================] - 12s 366us/step - loss: 0.0700 - acc: 0.9791 - val_loss: 0.0828 - val_acc: 0.9746

In [217]:
test = pd.read_csv('./test.csv')

In [218]:
test = test.values.reshape(test.shape[0], 28, 28, 1)

In [219]:
test = test.astype('float32')

In [220]:
test /= 255

In [221]:
y_hat = model.predict_classes(test)

In [222]:
y_hat

array([2, 0, 9, ..., 3, 9, 2])

In [223]:
tested =pd.DataFrame(y_hat)
tested.index = tested.index +1

In [224]:
tested.rename({0:'Label'}, axis =1, inplace=True)
tested['ImageId'] = tested.index

In [225]:
submit2 = tested[['ImageId','Label']]

submit2

       ImageId  Label
1            1      2
2            2      0
3            3      9
4            4      9
5            5      3
6            6      7
7            7      0
8            8      3
9            9      0
10          10      3
11          11      5
12          12      7
13          13      4
14          14      0
15          15      4
16          16      3
17          17      3
18          18      1
19          19      9
20          20      0
21          21      9
22          22      1
23          23      1
24          24      5
25          25      7
26          26      4
27          27      2
28          28      7
29          29      4
30          30      7
...        ...    ...
27971    27971      5
27972    27972      0
27973    27973      4
27974    27974      8
27975    27975      0
27976    27976      3
27977    27977      6
27978    27978      0
27979    27979      1
27980    27980      9
27981    27981      3
27982    27982      1
27983    27983      1
27984    27984      0
27985    27985      4
27986    27986      5
27987    27987      2
27988    27988      2
27989    27989      9
27990    27990      6
27991    27991      7
27992    27992      6
27993    27993      1
27994    27994      9
27995    27995      7
27996    27996      9
27997    27997      7
27998    27998      3
27999    27999      9
28000    28000      2

[28000 rows x 2 columns]

In [226]:
#submit to kaggle
submit2.to_csv('./submit2.csv', index=False)